Tamagotchi/TamagotchiWeb/Service References/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Tamagotchi_WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Tamagotchi_WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTamagotchi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tamagotchi" nillable="true" type="tns:Tamagotchi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTamagotchi" nillable="true" type="tns:ArrayOfTamagotchi" />
  <xs:complexType name="Tamagotchi">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccesGranted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Alive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Boredom" type="xs:int" />
      <xs:element minOccurs="0" name="Crazy" type="xs:boolean" />
      <xs:element minOccurs="0" name="Health" type="xs:int" />
      <xs:element minOccurs="0" name="Hunger" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastAcces" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Munchies" type="xs:boolean" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sleep" type="xs:int" />
      <xs:element minOccurs="0" name="TopAtleet" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tamagotchi" nillable="true" type="tns:Tamagotchi" />
</xs:schema>