Tamagotchi/TamagotchiConsole/Service References/TamagotchiService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ITamagotchiService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://tamagotchiniels.azurewebsites.net/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://tamagotchiniels.azurewebsites.net/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tamagotchiniels.azurewebsites.net/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITamagotchiService_GetStatusses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusses" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_GetStatusses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatussesResponse" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_PerformAction_InputMessage">
    <wsdl:part name="parameters" element="tns:PerformAction" />
  </wsdl:message>
  <wsdl:message name="ITamagotchiService_PerformAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerformActionResponse" />
  </wsdl:message>
  <wsdl:portType name="ITamagotchiService">
    <wsdl:operation name="GetStatusses">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/GetStatusses" message="tns:ITamagotchiService_GetStatusses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/GetStatussesResponse" message="tns:ITamagotchiService_GetStatusses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PerformAction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITamagotchiService/PerformAction" message="tns:ITamagotchiService_PerformAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITamagotchiService/PerformActionResponse" message="tns:ITamagotchiService_PerformAction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITamagotchiService" type="tns:ITamagotchiService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatusses">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetStatusses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformAction">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/PerformAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ITamagotchiService" type="tns:ITamagotchiService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ITamagotchiService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatusses">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/GetStatusses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PerformAction">
      <soap:operation soapAction="http://tempuri.org/ITamagotchiService/PerformAction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_ITamagotchiService" binding="tns:BasicHttpBinding_ITamagotchiService">
      <soap:address location="http://tamagotchiniels.azurewebsites.net/Service.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ITamagotchiService" binding="tns:BasicHttpsBinding_ITamagotchiService">
      <soap:address location="https://tamagotchiniels.azurewebsites.net/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>