Tamagotchi/TamagotchiConsole/Service References/TamagotchiService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tamagotchiniels.azurewebsites.net/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tamagotchi_WCF" />
  <xs:element name="GetTamagotchis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTamagotchisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tamagotchi_WCF" minOccurs="0" name="GetTamagotchisResult" nillable="true" type="q1:ArrayOfTamagotchi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChooseTamagotchi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChooseTamagotchiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tamagotchi_WCF" minOccurs="0" name="ChooseTamagotchiResult" nillable="true" type="q2:Tamagotchi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLivingTamagotchis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLivingTamagotchisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tamagotchi_WCF" minOccurs="0" name="GetLivingTamagotchisResult" nillable="true" type="q3:ArrayOfTamagotchi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoSpelregels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tamagotchi_WCF" minOccurs="0" name="tmgs" nillable="true" type="q4:ArrayOfTamagotchi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoSpelregelsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Tamagotchi_WCF" minOccurs="0" name="tmg" nillable="true" type="q5:Tamagotchi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PerformActionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTamagotchi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTamagotchiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Tamagotchi_WCF" minOccurs="0" name="CreateTamagotchiResult" nillable="true" type="q6:Tamagotchi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>